
  <h1>About this website</h1>
  <h3>Hello literature lover,</h3>
  <p  style ="width:800px">
    Write Here is a non-profit organization that offers writers a chance to get their articles
    read by others. Writers will also be able to read other people's articles to improve their own writing.
    The process of creating and programming this website started on December 19th, 2022. Thank you for
    using Write Here!
  </p>
  <p  style ="width:800px">
    For any questions, concerns, comments, or feedback please contact the Write Here team
    at writeherehelp@gmail.com
  </p>


